<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eaglesakura.view.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <!-- for Galaxy Note ICS -->
    <!-- android:hardwareAccelerated="true" -->

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.eaglesakura.view.sample.SimpleGL11Activity"
            android:label="GL11" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eaglesakura.view.sample.UIThreadSimpleGL11Activity"
            android:label="GL11 UI" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eaglesakura.view.sample.SimpleGL20Activity"
            android:label="GL20" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eaglesakura.view.sample.UIThreadSimpleGL20Activity"
            android:label="GL20 UI" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eaglesakura.view.sample.ButtonSimpleGL20Activity"
            android:label="GL20 Btn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- for Renderer Test -->
        <activity android:name="com.eaglesakura.view.sample.test.RenderingActivity" >
        </activity>
        <activity
            android:name="com.eaglesakura.view.sample.test.RenderingActivityCC"
            android:configChanges="orientation|screenSize" >
        </activity>
    </application>

</manifest>